<div class="mt-3 ml-auto mr-auto">
    <div *ngIf="isAdmin()" class="pl-3 pr-3">
        <button (click)="openModal()" class="btn btn-sm btn-primary">New subscription</button>
        <div *ngIf="subscriptions.length == 0" class="m-3 alert alert-primary">There are no subscriptions.</div>
        <div *ngIf="subscriptions.length > 0" class="d-flex flex-wrap">
            <app-subscription-card *ngFor="let sub of subscriptions" [subscription]="sub" (deleteAction)="removeSubscription($event)"
            class="pt-3 pb-3 col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            </app-subscription-card>
        </div>
    </div>

    <div *ngIf="!isAdmin()">
        <div *ngIf="isActivated">
            
            <app-subscription-card [subscription]="subscription"
                class="pt-3 pb-3 col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            </app-subscription-card>
        </div>

        <div *ngIf="!isActivated">
        
            <app-subscription-card *ngFor="let sub of subscriptions" [subscription]="sub"
                class="pt-3 pb-3 col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            </app-subscription-card>
        </div>
    </div>

</div>